  #container_preload {
    width: 500px;

    height: 400px;

    border: 2px solid #E8C48F; /* рамка 25px */

    padding: 20px;              /* поля 20px */

    overflow: auto;             /* прокрутка */
  }
div.mfeedback {
	width:400px;
}
div.vet_sert_4 {
	width:500px;
}
/*.vet_sert_4 .anchor
{
		float: right;
}*/
		.vet_sert_4 a{text-decoration: none; }
		.vet_sert_4 a:link {color: #000;} 
		/*посещенная ссылка*/
		.vet_sert_4 a:visited {color: #000;} 
		/*перемещение мышки над ссылкой*/
		.vet_sert_4 a:hover {color: lime;} 
		/*активная ссылка*/
		.vet_sert_4 a:active {color: #000;}
	.info{
	margin: 3px;
	padding: 5px 17px 5px 5px;
	border: 1px solid #D3D3D3;
	box-shadow: 2px 2px 3px #bbb;
	-moz-box-shadow: 2px 2px 3px #bbb;
	-webkit-box-shadow: 2px 2px 3px #bbb;
	background: #fff;
	text-align:left;
	color: #000
	}


div.mf-name, div.mf-email, div.mf-captcha, div.mf-message {width:100%; padding-bottom:0.4em;}
div.mf-name input, div.mf-email input {width:100%;}
div.mf-message textarea {width: 100%;}
span.mf-req {color:red;}
div.mf-ok-text {color:green; font-weight:bold; padding-bottom: 1em;}
div.mf-notok-text {color:red; font-weight:bold; padding-bottom: 1em;}
.country_list_wrap2, .country_list_wrap, .tnved_list_wrap,.unloadpoint_list_wrap,.entities_list_wrap{
	position: absolute;
	max-height: 100px;
	overflow: auto;
	background: #fff;
	border: 1px solid #bbb;
	width: 406px;
	display:none;
}
.unloadpoint_list_wrap ul#unloadpoint_list li:before, 
.entities_list_wrap ul#entities_list li:before,
.country_list_wrap2 ul#country_list2 li:before, 
.country_list_wrap ul#country_list li:before, 
.tnved_list_wrap ul#tnved_list li:before{
	content:initial;
}