#YES, #NO
{
	width: 20px;
}
.mf-name * {vertical-align: middle}
.mf-name img {width: 35px;}
.hover{color: lime;cursor: default;}
#container_preload 
{
	width: 500px;
	height: 400px;
	border: 2px solid #E8C48F; /* рамка 25px */
	padding: 20px;              /* поля 20px */
	overflow: auto;             /* прокрутка */
}
div.mfeedback 
{
	width:400px;
}
div.vet_sert_2 
{
	width:500px;
}
.vet_sert_2 .anchor
{
		float: right;
}
.rightside
{
	position:relative;
	float:right;
}
.vet_sert_2 a{text-decoration: none; }
.vet_sert_2 a:link {color: #000;} 
/*посещенная ссылка*/
.vet_sert_2 a:visited {color: #000;} 
/*перемещение мышки над ссылкой*/
.vet_sert_2 a:hover {color: lime;} 
/*активная ссылка*/
.vet_sert_2 a:active {color: #000;} 
.info
{
	margin: 3px;
	padding: 5px 17px 5px 5px;
	border: 1px solid #D3D3D3;
	box-shadow: 2px 2px 3px #bbb;
	-moz-box-shadow: 2px 2px 3px #bbb;
	-webkit-box-shadow: 2px 2px 3px #bbb;
	background: #fff;
	text-align:left;
	color: #000
}
div.mf-name, div.mf-email, div.mf-captcha, div.mf-message {width:100%; padding-bottom:0.4em;}
div.mf-name#reasons {display:none;}
div.mf-name input, div.mf-name select, div.mf-email input {width:100%;}
div.mf-message textarea {width: 100%;}
span.mf-req {color:red;}
div.mf-ok-text {color:green; font-weight:bold; padding-bottom: 1em;}
div.mf-notok-text {color:red; font-weight:bold; padding-bottom: 1em;}
.nameauthbody_list_wrap, 
.cityauthbody_list_wrap, 
.entities_list_wrap, 
.posissuedregnum_list_wrap, 
.nameissuedregnum_list_wrap, 
.issued_list_wrap, 
.transport_list_wrap, 
.manufactname_list_wrap, 
.productionadress_list_wrap, 
.quantity_list_wrap, 
.recipientname_list_wrap, 
.specialsnotes_list_wrap, 
.officialname_list_wrap, 
.placeload_list_wrap, 
.unloadpoint_list_wrap, 
.country_list_wrap, 
.country2_list_wrap
{
	position: absolute;
	max-height: 100px;
	overflow: auto;
	background: #fff;
	border: 1px solid #bbb;
	width: 406px;
	display:none;
}
.mfeedback .mf-name input[name="productiondate"]
{
	width:350px;
}
.nameauthbody_list_wrap ul#nameauthbody_list li:before,
.cityauthbody_list_wrap ul#cityauthbody_list li:before, 
.posissuedregnum_list_wrap ul#posissuedregnum_list li:before,
.nameissuedregnum_list_wrap ul#nameissuedregnum_list li:before,
.issued_list_wrap ul#issued_list li:before,
.transport_list_wrap ul#transport_list li:before,
.manufactname_list_wrap ul#manufactname_list li:before,
.productionadress_list_wrap ul#productionadress_list li:before,
.quantity_list_wrap ul#quantity_list li:before,
.recipientname_list_wrap ul#recipientname_list li:before,
.specialsnotes_list_wrap ul#specialsnotes_list li:before,
.officialname_list_wrap  ul#officialname_list li:before,
.unloadpoint_list_wrap  ul#unloadpoint_list li:before,
.entities_list_wrap  ul#entities_list li:before,
.country_list_wrap ul#country_list li:before,
.country2_list_wrap ul#country2_list li:before,
.placeload_list_wrap ul#placeload_list li:before{
	content:initial;
}